/*run command is "npx serve"*/
html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #f2f2f2;
  color: #080808;  
  font-family: monospace;
}

h1 {
  font-size: 3em; /* reg = 40px/16=2.5em */
}

h2 {
  font-size: 2.375em; /* reg = 30px/16=1.875em */
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.4em;
}

p {
  font-size: 1.375em; /* reg = 14px/16=0.875em */
}

small {
  font-size: xx-small;
}

.center {
  text-align: center;
}

img.rounded-corners {
  border-radius: 15px;
}

#border {
  padding-right: 10%;
  padding-left: 10%;
}

.button {
  /*border-radius: 5px;*/
  font: bold 1.375em monospace;
  text-decoration: none;
  background-color: #d6d6d6;
  color: #000000;
  padding: 2px 6px 2px 6px;
  padding: 10px 20px;
  border: 2px solid #d6d6d6;
  transition: transform .3s;
} 

.button:hover { 
  background-color: #c1dcab; 
  color: #080808; 
}

.button:active {
  background-color: #8cae70;
  border: 2px solid #8cae70;
}

.button2 {
  display: block;
  border-radius: 5px;
  font: bold 1.375em monospace;
  text-decoration: none;
  background-color: #d6d6d6;
  color: #080808;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid #080808;
  border-right: 2px solid #7a7a7a;
  border-bottom: 2px solid #606060;
  border-left: 2px solid #080808;
  padding: 10px 20px;
  transition: 0.25s linear;
  display: block;
} 

.button2:hover{ 
  background-color: #c1dcab; 
  border-top: 2px solid #225320;
  border-right: 2px solid #021104;
  border-bottom: 2px solid #021104;
  border-left: 2px solid #225320;
  color: #000000; 
}


.indent {
  tab-size: 8;
}

#outer-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

#top-div {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  left: 10%;
  right: 10%;
}

#nav-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 0%;
}

#list-of-stuff {
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.container {
  overflow-wrap: break-word;
  transition: transform .4s;  
  border-radius: 15px;
  width: 33%;
  text-align: center;
  border-top: 2px solid #080808;
  border-right: 2px solid #7a7a7a;
  border-bottom: 2px solid #606060;
  border-left: 2px solid #080808;
  background-color: #d6d6d6; 
}

.container:hover {
  transform: scale(1.2);
}

.vid-container {
  padding: 20px;
  border-radius: 15px;
  width: 75%;
  border-top: 3px solid #080808;
  border-right: 3px solid #7a7a7a;
  border-bottom: 3px solid #606060;
  border-left: 3px solid #080808;
  background-color: #d6d6d6; 
}

.vid-container-child {
  width: 50%;
  float: left;
  padding: 20px;
}

#piczoom {
  transition: transform .3s;  
}

#piczoom:hover {
  transform: scale(1.1);
}

table, th, td {
  border: transparent;
  padding: 20px;
  text-align: start;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
} 

.collapsible {
  font-family: monospace;
  border-radius: 15px;
  border-top: 3px solid #080808;
  border-right: 3px solid #7a7a7a;
  border-bottom: 3px solid #606060;
  border-left: 3px solid #080808;
  background-color: #bebebe; 
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  transition: .3s;
  background-color: #b2b2b2;
  color: #080808;
}

.collapsible:after {
  content: '∧';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after{
  content: '∨';
  color: white;
  font-weight: bold;
  float: right;
  margin-right: 5px;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #cacaca;
}

ul {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #d6d6d6;
  align-items: center;
}

li {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.4em;
  font-weight: 700;
  float: left;
  display: inline;
}

li a {
  display: block;
  color: #080808;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #c1dcab;
}